<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Swiftviews - Seek Help, Get Help.. Be the Help!</title>

</head>

<body>
    <div class="home">
        <div class="background"></div>
        <div class="logo">  <app-logo></app-logo> </div>
        <div class="header"> <app-header></app-header> </div>
        <div class="topcomponent">  <app-top></app-top>  </div>
        <div class="searchcomponent">  <app-search></app-search>  </div>
        <div class="maincomponent"> <app-main></app-main>  </div>
        <hr>
        <div class="footercomponent"> <app-footer></app-footer></div>
    </div>
</body>

</html>


